Importamos las librerías Pandas y Numpy

In [120]:
import pandas as pd
import numpy as np

### Step 2. Tomaremos el fichero en [esta URL](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y lo leeremos como un dataframe.

Pista: [read_csv](https://numpy.org/doc/stable/user/absolute_beginners.html#importing-and-exporting-a-csv)

In [121]:
'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipotle = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [122]:
chipotle.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [123]:
chipotle['item_price_float'] = chipotle['item_price'].str.replace("$","").astype(float)

chipotle['precio_unitario'] = chipotle['item_price_float'] / chipotle['quantity']

### Step 3. Veamos los tipos de datos. ¿Podríamos obtener el producto de mayor precio?

In [124]:
chipotle.loc[chipotle['precio_unitario'].idxmax()]

order_id                                                            123
quantity                                                              2
item_name                                              Steak Salad Bowl
choice_description    [Tomatillo Red Chili Salsa, [Black Beans, Chee...
item_price                                                      $23.78
item_price_float                                                  23.78
precio_unitario                                                   11.89
Name: 281, dtype: object

### Step 4. ¿Qué productos cuestan más de $10?

In [125]:
productos_caros = chipotle[chipotle['precio_unitario'] >= 10]

print(productos_caros['item_name'].unique())
len(productos_caros['item_name'].unique())

['Chicken Bowl' 'Steak Burrito' 'Chicken Burrito' 'Barbacoa Bowl'
 'Veggie Burrito' 'Veggie Bowl' 'Chicken Soft Tacos' 'Steak Bowl'
 'Carnitas Burrito' 'Carnitas Bowl' 'Barbacoa Burrito'
 'Chicken Salad Bowl' 'Barbacoa Crispy Tacos' 'Veggie Salad Bowl'
 'Chicken Salad' 'Steak Salad Bowl' 'Chicken Crispy Tacos'
 'Veggie Soft Tacos' 'Barbacoa Soft Tacos' 'Carnitas Crispy Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Steak Soft Tacos'
 'Carnitas Soft Tacos' 'Steak Crispy Tacos']

25

### Step 4.1: ¿Y cuántos pedidos se han hecho con un producto de más de 10$? ¿Es lo mismo?

In [126]:
pedidos = chipotle[chipotle['item_name'].isin(productos_caros['item_name'])]
len(pedidos)

2846

### Step 4.2: ¿Y cuántos pedidos se han hecho de más de 10$? ¿Es lo mismo?

In [127]:
total_pedido = chipotle.groupby('order_id')['item_price_float'].sum()

pedidos_10 = total_pedido[total_pedido >= 10]

len(pedidos_10)

1834

### Step 4.3: ¿Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? ¿Es lo mismo?

In [128]:
len(pedidos['order_id'].unique())

1826

### Step 5. ¿Qué precio tiene cada producto en distintos pedidos? ¿Hay productos con varios precios?

In [129]:
precios = chipotle.groupby('item_name')['precio_unitario'].unique()

precios

item_name
6 Pack Soft Drink                                                                   [6.49]
Barbacoa Bowl                                      [11.75, 9.25, 8.99, 11.48, 8.69, 11.49]
Barbacoa Burrito                                   [8.99, 9.25, 11.75, 11.08, 8.69, 11.48]
Barbacoa Crispy Tacos                                           [11.75, 9.25, 11.48, 8.99]
Barbacoa Salad Bowl                                                          [11.89, 9.39]
Barbacoa Soft Tacos                                             [9.25, 8.99, 11.75, 11.48]
Bottled Water                                                                  [1.09, 1.5]
Bowl                                                             [7.3999999999999995, 7.4]
Burrito                                                                              [7.4]
Canned Soda                                                                         [1.09]
Canned Soft Drink                                                                   [1.25]
Carnitas Bowl                                            [8.99, 11.75, 9.25, 11.48, 11.08]
Carnitas Burrito                                   [8.99, 9.25, 11.75, 11.48, 11.08, 8.69]
Carnitas Crispy Tacos                                                  [9.25, 11.75, 8.99]
Carnitas Salad                                                                      [8.99]
Carnitas Salad Bowl                                                          [11.89, 9.39]
Carnitas Soft Tacos                                                    [9.25, 8.99, 11.75]
Chicken Bowl                             [8.49, 10.98, 11.25, 8.75, 10.979999999999999,...
Chicken Burrito                                    [8.49, 10.98, 8.75, 11.25, 10.58, 8.19]
Chicken Crispy Tacos                                            [8.75, 11.25, 8.49, 10.98]
Chicken Salad                                                          [10.98, 8.49, 8.19]
Chicken Salad Bowl                                                           [8.75, 11.25]
Chicken Soft Tacos                                              [8.75, 11.25, 8.49, 10.98]
Chips                                                                         [2.15, 1.99]
Chips and Fresh Tomato Salsa                                            [2.39, 2.95, 2.29]
Chips and Guacamole                                          [4.45, 3.99, 4.0, 3.89, 4.25]
Chips and Mild Fresh Tomato Salsa                                                    [3.0]
Chips and Roasted Chili Corn Salsa                                                  [2.95]
Chips and Roasted Chili-Corn Salsa                                                  [2.39]
Chips and Tomatillo Green Chili Salsa                                               [2.95]
Chips and Tomatillo Red Chili Salsa                                                 [2.95]
Chips and Tomatillo-Green Chili Salsa                                               [2.39]
Chips and Tomatillo-Red Chili Salsa                                                 [2.39]
Crispy Tacos                                                                         [7.4]
Izze                                                                                [3.39]
Nantucket Nectar                                                                    [3.39]
Salad                                                                                [7.4]
Side of Chips                                                   [1.69, 1.6900000000000002]
Steak Bowl                                         [8.99, 11.75, 11.48, 9.25, 11.08, 8.69]
Steak Burrito                                      [11.75, 9.25, 8.99, 11.48, 11.08, 8.69]
Steak Crispy Tacos                                               [9.25, 8.99, 8.69, 11.75]
Steak Salad                                                                   [8.99, 8.69]
Steak Salad Bowl                                                             [11.89, 9.39]
Steak Soft Tacos                                                [9.25, 8.99, 11.75, 11.48]
Veggie Bowl                                                     [11.25, 8.49, 8.75, 10.98]
Veggie Burrito                                                  [11.25, 8.49, 10.98, 8.75]
Veggie Crispy Tacos                                                                 [8.49]
Veggie Salad                                                                        [8.49]
Veggie Salad Bowl                                                            [11.25, 8.75]
Veggie Soft Tacos                                                      [11.25, 8.75, 8.49]
Name: precio_unitario, dtype: object

### Step 6. Ordena el dataframe en base al nombre de producto (item name)

In [146]:
chipotle_agrupacion = chipotle.groupby('item_name').apply(lambda x: x)
chipotle_orden = chipotle_agrupacion.sort_index()
chipotle_orden

C:\Users\jonol\AppData\Local\Temp\ipykernel_12264\809291780.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  chipotle_agrupacion = chipotle.groupby('item_name').apply(lambda x: x)

                        order_id  quantity          item_name  \
item_name
6 Pack Soft Drink 298        129         1  6 Pack Soft Drink
                  341        148         1  6 Pack Soft Drink
                  357        154         1  6 Pack Soft Drink
                  388        168         1  6 Pack Soft Drink
                  417        182         1  6 Pack Soft Drink
...                          ...       ...                ...
Veggie Soft Tacos 1395       567         1  Veggie Soft Tacos
                  1699       688         1  Veggie Soft Tacos
                  2384       948         1  Veggie Soft Tacos
                  2851      1132         1  Veggie Soft Tacos
                  3889      1559         2  Veggie Soft Tacos

                                                       choice_description  \
item_name
6 Pack Soft Drink 298                                            [Sprite]
                  341                                         [Diet Coke]
                  357                                              [Coke]
                  388                                         [Diet Coke]
                  417                                         [Diet Coke]
...                                                                   ...
Veggie Soft Tacos 1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...
                  1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
                  2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...
                  2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...
                  3889  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...

                       item_price  item_price_float  precio_unitario
item_name
6 Pack Soft Drink 298      $6.49               6.49             6.49
                  341      $6.49               6.49             6.49
                  357      $6.49               6.49             6.49
                  388      $6.49               6.49             6.49
                  417      $6.49               6.49             6.49
...                           ...               ...              ...
Veggie Soft Tacos 1395     $8.49               8.49             8.49
                  1699    $11.25              11.25            11.25
                  2384     $8.75               8.75             8.75
                  2851     $8.49               8.49             8.49
                  3889    $16.98              16.98             8.49

[4622 rows x 7 columns]

### Step 7. ¿Cuantas veces se ha pedido los productos más caros?

In [95]:
pedidos_mascaro = chipotle[chipotle['item_name'] == 'Steak Salad Bowl']

len(pedidos_mascaro)

29

### Step 8. Veamos para el caso de Veggie Salad Bowl. Extrae esa información.

In [100]:
veggie = chipotle[chipotle['item_name'] == 'Veggie Salad Bowl']

print(len(veggie))
print(veggie['order_id'].unique())
precios_distintos = veggie['precio_unitario'].unique()
print(precios_distintos)
total_generado = veggie['item_price_float'].sum()
print(total_generado)

18
[  83  128  195  207  394  536  760  869  896  913 1066 1289 1321 1646
 1677 1700 1805 1818]
[11.25  8.75]
182.5